<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Urlaub einreichen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-title>Urlaubstyp</ion-card-title>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="typeVal">
        <ion-radio value="urlaub" labelPlacement="end">Urlaub</ion-radio><br />
        <ion-radio value="sonderurlaub" labelPlacement="end">Sonderurlaub</ion-radio>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Zeitraum<span style="color: #FF0000;">*</span></ion-card-title>
    <ion-card-content>
      <ion-label slot="left">Von:</ion-label>
      <ion-datetime-button datetime="from" slot="left"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="from" presentation="date" [(ngModel)]="fromDate" (ionChange)="toDate = fromDate" show-default-buttons="true"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-label slot="left">Bis:</ion-label>
      <ion-datetime-button datetime="to" slot="left"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="to" presentation="date" [(ngModel)]="toDate" [min]="fromDate" show-default-buttons="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Beschreibung</ion-card-title>
    <ion-card-content>
      <ion-textarea placeholder="Hier Beschreibung eingeben" [(ngModel)]="description"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-buttons>
    <ion-button color="danger" (click)="reset()" routerLink="../tab1"><ion-label>Abbrechen</ion-label></ion-button>
    <ion-button color="success" (click)="submit()" routerLink="../tab1"><ion-label>Beantragen</ion-label></ion-button>
  </ion-buttons>

</ion-content>
