ion-card {
  padding: 1.5em;
}

ion-col {
  border: solid 1px #000;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grayRow {
  background-color: #E4E4E4;
}

.whiteRow {
  background-color: #FFFFFF;
}

.gridHeader {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  padding: 1em 0em;
  background-color: #E4E4E4;
}

.vacationStateApproved {
  color: #28A745;
}

.vacationStateRejected {
  color: #ff0000;
}

.vacationStatePending {
  color: #FFC107;
}
