ion-card {
  padding: 1.5em;
}

ion-col {
  border: solid 1px #000;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-col.gridHeader {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  padding: 1em 0em;
  background-color: #CCCCCC;
}

ion-col.vacationStateApproved {
  background-color: #8AE89D;
  color: #000000;
}

ion-col.vacationStatePending {
  background-color: #FDFDC1;
  color: #000000;
}

ion-col.vacationStateRejected {
  background-color: #FF6B6B;
  color: #000000;
}
