<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Übersicht
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-title>Willkommen {{getUsername()}}!</ion-card-title><br />
    <ion-card-subtitle>Hier deine Urlaubsübersicht:</ion-card-subtitle>

    <ion-card-content>
      <p>Urlaubstage verbleibend: {{getvacationdays()}}</p>
      <p>Sonderurlabustage verbleibend: {{getspecialvacationdays()}}</p>
      <br />

      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col class="gridHeader">Status:</ion-col>
          <ion-col class="gridHeader">Erster Urlaubstag:</ion-col>
          <ion-col class="gridHeader">Letzter Urlaubstag:</ion-col>
          <ion-col class="gridHeader">Summe Urlaubstage:</ion-col>
          <ion-col class="gridHeader">Aktion:</ion-col>
        </ion-row>

        <ng-container *ngIf="urlaubsListeBearbeitung$ | async as urlaube" >
          <ion-row *ngFor="let vacation of urlaube">
            <ion-col class="vacationStatePending">{{ vacation.status }}</ion-col>
            <ion-col class="vacationStatePending">{{ vacation.startDate }}</ion-col>
            <ion-col class="vacationStatePending">{{ vacation.endDate }}</ion-col>
            <ion-col class="vacationStatePending">Tage</ion-col>
            <ion-col class="vacationStatePending">
              <ion-button color="tertiary" (click)="rejectVacation(vacation)"> Ablehnen</ion-button>
            </ion-col>
          </ion-row>
        </ng-container>


        <ng-container *ngIf="urlaubsListeGenehmigt$ | async as urlaube" >
          <ion-row *ngFor="let vacation of urlaube">
            <ion-col class="vacationStateApproved">{{ vacation.status }}</ion-col>
            <ion-col class="vacationStateApproved">{{ vacation.startDate }}</ion-col>
            <ion-col class="vacationStateApproved">{{ vacation.endDate }}</ion-col>
            <ion-col class="vacationStateApproved">Tage</ion-col>
            <ion-col class="vacationStateApproved">
              <ion-button color="tertiary" (click)="rejectVacation(vacation)">Ablehnen</ion-button>
            </ion-col>
          </ion-row>
        </ng-container>

        <ng-container *ngIf="urlaubsListeAbgelehnt$ | async as urlaube" >
          <ion-row *ngFor="let vacation of urlaube">
            <ion-col class="vacationStateRejected">{{ vacation.status }}</ion-col>
            <ion-col class="vacationStateRejected">{{ vacation.startDate }}</ion-col>
            <ion-col class="vacationStateRejected">{{ vacation.endDate }}</ion-col>
            <ion-col class="vacationStateRejected">Tage</ion-col>
            <ion-col class="vacationStateRejected">
              <ion-button color="tertiary" (click)="deleteVacation(vacation)">
              <ion-icon slot="start" name="trash"></ion-icon> Löschen</ion-button>
            </ion-col>
          </ion-row>
        </ng-container>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
