<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eingereichte Urlaube
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="urlaubsListeBearbeitung$ | async as urlaube">
    <ion-card-title>Zu bearbeitende Urlaube</ion-card-title>
    <ion-card-content>
      <ion-list>

        <ion-item-sliding *ngFor="let urlaub of urlaube">
          <ion-item>
            <ion-label>Angestellter: {{urlaub.username}}</ion-label>
            <ion-label>Startdatum: {{urlaub.startDate}}</ion-label>
            <ion-label>Enddatum: {{urlaub.endDate}}</ion-label>
            <ion-label>Urlaubstyp: {{urlaub.type}}</ion-label>
            <ion-label>Beschreibung: {{urlaub.description}}</ion-label>
          </ion-item>

          <ion-item-options side="start" (ionSwipe)="rejectVacation(urlaub)">
            <!-- Option zum Ablehnen -->
            <ion-item-option color="danger" expandable (click)="rejectVacation(urlaub)">
              Ablehnen
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end" (ionSwipe)="acceptVacation(urlaub)">
            <!-- Option zum Akzeptieren -->
            <ion-item-option color="success" expandable (click)="acceptVacation(urlaub)">
              Akzeptieren
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="urlaubsListeGenehmigt$ | async as urlaube">
    <ion-card-title>Eingetragende Urlaube</ion-card-title>
    <ion-card-content>
      <ion-list *ngFor="let urlaub of urlaube">
        <ion-item>
          <ion-label>Angestellter: {{urlaub.username}}</ion-label>
          <ion-label>Startdatum: {{urlaub.startDate}}</ion-label>
          <ion-label>Enddatum: {{urlaub.endDate}}</ion-label>
          <ion-label>Urlaubstyp: {{urlaub.type}}</ion-label>
          <ion-label>Beschreibung: {{urlaub.description}}</ion-label>


          <!--          &lt;!&ndash; Urlaubsdaten anzeigen &ndash;&gt;-->
          <!--          <ion-label>-->
          <!--            {{ vacation.startDate }} - {{ vacation.endDate }}-->
          <!--          </ion-label>-->
          <!--          &lt;!&ndash; Weitere Attribute anzeigen &ndash;&gt;-->
          <!--          <ion-label slot="end">{{ vacation.attribute }}</ion-label>-->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
